ul {
    list-style-type: none;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
}

.createNewFlashcard {
    margin: 15px;
    justify-self: end;
}

.deleteStudySet{
    margin: 15px;
    justify-self: end;
}