nav{
    font-family: 'Playfair Display', serif;
    background-color:  #0086b3;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin: 1rem;
}

nav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #555;
}

